streamlit==1.54.0
python-dotenv==1.2.1

langchain-community==0.4.1
langchain-groq==1.1.2
langchain-huggingface==1.2.0
langchain-qdrant==1.1.0
langchain-text-splitters==1.1.1

qdrant-client==1.16.2

pymupdf==1.24.9

sentence-transformers==2.7.0
transformers==4.41.2
torch==2.2.2
